.env
.env.*
node_modules/
dist/
build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.nyc_output/
.cache/
.temp/
tmp/
*.tgz
*.tar.gz
.eslintcache
.parcelcache
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
*.pid
*.seed
*.pid.lock
Thumbs.db